.home {
  &__hero {
    height: 60vh;
    &-image {
      background: url(../../src/assets/images/image-hero-mobile.png) no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__btn {
    margin: 0 auto;
    display: block;
    padding: 0.7rem 1rem;
    background-color: $almostBlack;
    color: $almostWhite;
    border: none;
    border-radius: 10px;
    transition: color, background-color 0.25s ease;
    &:hover {
      color: $almostBlack;
      background-color: $almostWhite;
      outline: 1px solid $almostBlack;
      cursor: pointer;
    }
  }

  &-brands__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 2rem 0;
    padding: 0;
  }

  &-brands__item {
    flex: 1;
    svg {
      transform: scale(0.7, 0.7);
    }
  }

  h1,
  p {
    text-align: center;
  }

  p {
    line-height: 1.5;
    padding: 0 1rem;
    color: $mediumGray;
  }
}

.attribution {
  text-align: center;
}

@include desktop-md-query {
  .home {
    display: flex;
    flex-direction: row-reverse;
    height: 80vh;
    margin: 0 5vw 0 20vw;
    gap: 7rem;
    &__hero {
      height: 100%;
      width: 100%;
      &-image {
        background-image: url(../../src/assets/images/image-hero-desktop.png);
        background-size: contain;
      }
    }
    &__left-container--desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-size: 4rem;
      }
      p {
        padding-left: 0;
      }
      h1,
      p {
        text-align: left;
        margin-bottom: 0;
        padding-right: 2rem;
      }
    }
    &__btn {
      margin-left: 0;
    }
    &-brands__list {
      margin: 0;
    }
  }
}
